In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('merged_all_sources.csv', sep=';')
df.head()

C:\Users\krist\AppData\Local\Temp\ipykernel_11348\2876035693.py:1: DtypeWarning: Columns (0,1,6,13,24,25,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('merged_all_sources.csv', sep=';')

,AgentInfo,Airline,ArrivalCity,ArrivalCode,ArrivalDate,ArrivalTime,Baggage,Baggage_r,BonusProgramm,BookingCode,...,PassengerSex,PaxAdditionalInfo,Seat,SecondName,TicketNumber,TravelDoc,TravelTime,TrvCls,ValidityEnd,ValidityStart
0,NaN,Operated by Some Other Airline,NEW YORK NY,JFK,NaN,NaN,NaN,NaN,NaN,JLZQLT,...,Female,NaN,NaN,NaN,9463459928173654,NaN,NaN,Y,NaN,NaN
1,NaN,Operated by Some Other Airline,NEW YORK NY,JFK,NaN,NaN,NaN,NaN,KE 747187319,JLZQLT,...,Female,NaN,NaN,NaN,9463459928173654,NaN,NaN,Y,NaN,NaN
2,NaN,Operated by Some Other Airline,MOSCOW,SVO,NaN,NaN,NaN,NaN,NaN,EROIHK,...,Male,NaN,NaN,NaN,539561033784129,NaN,NaN,Y,NaN,NaN
3,NaN,Operated by Some Other Airline,MOSCOW,SVO,NaN,NaN,NaN,NaN,NaN,EROIHK,...,Male,NaN,NaN,NaN,539561033784129,NaN,NaN,Y,NaN,NaN
4,NaN,Operated by Some Other Airline,MOSCOW,SVO,NaN,NaN,NaN,NaN,NaN,EROIHK,...,Male,NaN,NaN,NaN,539561033784129,NaN,NaN,Y,NaN,NaN

In [3]:
df.columns

Index(['AgentInfo', 'Airline', 'ArrivalCity', 'ArrivalCode', 'ArrivalDate',
       'ArrivalTime', 'Baggage', 'Baggage_r', 'BonusProgramm', 'BookingCode',
       'CodeShare', 'CodeShare_r', 'Days', 'DepartCity', 'DepartCode',
       'DepartDate', 'DepartTime', 'DepartTime_r', 'Fare', 'FirstName',
       'FlightNumber', 'FullName', 'Gate', 'LastName', 'Meal',
       'PassengerBirthDate', 'PassengerSex', 'PaxAdditionalInfo', 'Seat',
       'SecondName', 'TicketNumber', 'TravelDoc', 'TravelTime', 'TrvCls',
       'ValidityEnd', 'ValidityStart'],
      dtype='object')

In [4]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3735657 entries, 0 to 3735656
Data columns (total 36 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   AgentInfo           143814 non-null   object
 1   Airline             2988663 non-null  object
 2   ArrivalCity         3143810 non-null  object
 3   ArrivalCode         3580506 non-null  object
 4   ArrivalDate         0 non-null        float64
 5   ArrivalTime         0 non-null        float64
 6   Baggage             201279 non-null   object
 7   Baggage_r           0 non-null        float64
 8   BonusProgramm       2348452 non-null  object
 9   BookingCode         3299567 non-null  object
 10  CodeShare           1881943 non-null  object
 11  CodeShare_r         0 non-null        float64
 12  Days                0 non-null        float64
 13  DepartCity          2988663 non-null  object
 14  DepartCode          3580504 non-null  object
 15  DepartDate          3735657 non-null  int64
 16  DepartTime          3299567 non-null  object
 17  DepartTime_r        0 non-null        float64
 18  Fare                2162886 non-null  object
 19  FirstName           3735657 non-null  object
 20  FlightNumber        3735657 non-null  object
 21  FullName            0 non-null        float64
 22  Gate                0 non-null        float64
 23  LastName            3735657 non-null  object
 24  Meal                58148 non-null    object
 25  PassengerBirthDate  232850 non-null   object
 26  PassengerSex        3143810 non-null  object
 27  PaxAdditionalInfo   0 non-null        float64
 28  Seat                0 non-null        float64
 29  SecondName          900890 non-null   object
 30  TicketNumber        3299567 non-null  object
 31  TravelDoc           746994 non-null   object
 32  TravelTime          0 non-null        float64
 33  TrvCls              3144420 non-null  object
 34  ValidityEnd         0 non-null        float64
 35  ValidityStart       0 non-null        float64
dtypes: float64(13), int64(1), object(22)
memory usage: 1.0+ GB

In [5]:
cleaner_df = df.dropna(axis=1, how='all')
cleaner_df.head()

,AgentInfo,Airline,ArrivalCity,ArrivalCode,Baggage,BonusProgramm,BookingCode,CodeShare,DepartCity,DepartCode,...,FirstName,FlightNumber,LastName,Meal,PassengerBirthDate,PassengerSex,SecondName,TicketNumber,TravelDoc,TrvCls
0,NaN,Operated by Some Other Airline,NEW YORK NY,JFK,NaN,NaN,JLZQLT,NaN,TEL AVIV,TLV,...,ESENIYA,DL469,NAUMOVA,NaN,NaN,Female,NaN,9463459928173654,NaN,Y
1,NaN,Operated by Some Other Airline,NEW YORK NY,JFK,NaN,KE 747187319,JLZQLT,LANDED,TEL AVIV,TLV,...,ESENIYA,DL469,NAUMOVA,NaN,NaN,Female,NaN,9463459928173654,NaN,Y
2,NaN,Operated by Some Other Airline,MOSCOW,SVO,NaN,NaN,EROIHK,NaN,KRASNOYARSK,KJA,...,MARAT,SU1485,KARASEV,NaN,NaN,Male,NaN,539561033784129,NaN,Y
3,NaN,Operated by Some Other Airline,MOSCOW,SVO,NaN,NaN,EROIHK,NaN,KRASNOYARSK,KJA,...,MARAT,SU1485,KARASEV,NaN,NaN,Male,NaN,539561033784129,NaN,Y
4,NaN,Operated by Some Other Airline,MOSCOW,SVO,NaN,NaN,EROIHK,NaN,KRASNOYARSK,KJA,...,MARAT,SU1485,KARASEV,NaN,NaN,Male,NaN,539561033784129,NaN,Y

In [6]:
cleaner_df = cleaner_df.drop('Fare', axis = 1)
cleaner_df = cleaner_df.drop('Baggage', axis = 1)
cleaner_df = cleaner_df.drop('Meal', axis = 1)

In [7]:
print(cleaner_df[['FirstName', 'LastName', 'SecondName']][cleaner_df['SecondName'].notnull()])

        FirstName   LastName  SecondName
24              A     GERMAN  SPIRIDONOV
25              A     GERMAN  SPIRIDONOV
26              A     GERMAN  SPIRIDONOV
27          ELENA   NOVIKOVA           A
28          ELENA   NOVIKOVA           A
...           ...        ...         ...
3735630  EVGENIYa  BESPALOVA   EVGENEVNA
3735631  EVGENIYa  BESPALOVA   EVGENEVNA
3735632  EVGENIYa  BESPALOVA   EVGENEVNA
3735633  VIOLETTA   SMIRNOVA   MAKAREVNA
3735634  SVETLANA   ROZANOVA          R.

[900890 rows x 3 columns]

In [8]:
def standartize(name):
  if type(name) != str:
    return name
  name = name.upper()
  name = name.replace('Y', 'I')
  return name

In [9]:
cleaner_df[['FirstName', 'LastName', 'SecondName']] = cleaner_df[['FirstName', 'LastName', 'SecondName']].applymap(standartize)
cleaner_df[['FirstName', 'LastName', 'SecondName']]

C:\Users\krist\AppData\Local\Temp\ipykernel_11348\1750976805.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  cleaner_df[['FirstName', 'LastName', 'SecondName']] = cleaner_df[['FirstName', 'LastName', 'SecondName']].applymap(standartize)

        FirstName LastName SecondName
0         ESENIIA  NAUMOVA        NaN
1         ESENIIA  NAUMOVA        NaN
2           MARAT  KARASEV        NaN
3           MARAT  KARASEV        NaN
4           MARAT  KARASEV        NaN
...           ...      ...        ...
3735652     DAVID    ZIKOV        NaN
3735653     DAVID    ZIKOV        NaN
3735654     DAVID    ZIKOV        NaN
3735655     DAVID    ZIKOV        NaN
3735656     DAVID    ZIKOV        NaN

[3735657 rows x 3 columns]

In [10]:
def standartize_city(city):
  if type(city) != str:
    return city
  city = city.upper()
  return city

In [11]:
cleaner_df[['ArrivalCity', 'DepartCity']] = cleaner_df[['ArrivalCity', 'DepartCity']].applymap(standartize_city)
cleaner_df[['ArrivalCity', 'DepartCity']]

C:\Users\krist\AppData\Local\Temp\ipykernel_11348\3632317766.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  cleaner_df[['ArrivalCity', 'DepartCity']] = cleaner_df[['ArrivalCity', 'DepartCity']].applymap(standartize_city)

         ArrivalCity   DepartCity
0        NEW YORK NY     TEL AVIV
1        NEW YORK NY     TEL AVIV
2             MOSCOW  KRASNOYARSK
3             MOSCOW  KRASNOYARSK
4             MOSCOW  KRASNOYARSK
...              ...          ...
3735652          NaN          NaN
3735653          NaN          NaN
3735654          NaN          NaN
3735655          NaN          NaN
3735656          NaN          NaN

[3735657 rows x 2 columns]

In [12]:
cleaner_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3735657 entries, 0 to 3735656
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   AgentInfo           object
 1   Airline             object
 2   ArrivalCity         object
 3   ArrivalCode         object
 4   BonusProgramm       object
 5   BookingCode         object
 6   CodeShare           object
 7   DepartCity          object
 8   DepartCode          object
 9   DepartDate          int64
 10  DepartTime          object
 11  FirstName           object
 12  FlightNumber        object
 13  LastName            object
 14  PassengerBirthDate  object
 15  PassengerSex        object
 16  SecondName          object
 17  TicketNumber        object
 18  TravelDoc           object
 19  TrvCls              object
dtypes: int64(1), object(19)
memory usage: 570.0+ MB

In [13]:
def standartize_date(date):
  if type(date) != int:
    sdate = str(date)
    if type(date) == str:
      if sdate.find('/') != -1:
        return sdate[3:5] + '.' + sdate[:2] + '.' + sdate[-4:]
  sdate = '0' * (date < 10000000) + str(date)
  if date % 10000 > 1914:
    return sdate[:2] + '.' + sdate[2:4] + '.' + sdate[4:]
  else:
    return sdate[6:] + '.' + sdate[4:6] + '.' + sdate[:4]

In [14]:
def standartize_birth(date):
  if type(date) != str:
    return date
  if date.find('/') != -1:
    return date[3:5] + '.' + date[:2] + '.' + date[-4:]
  return date

In [15]:
cleaner_df[['DepartDate']] = cleaner_df[['DepartDate']].map(standartize_date)

In [16]:
cleaner_df[['PassengerBirthDate']] = cleaner_df[['PassengerBirthDate']].map(standartize_birth)

In [17]:
cleaner_df['PassengerBirthDate'].unique()

array([nan, '15.04.1975', '26.03.1979', ..., '25.03.1986', '27.04.1985',
       '23.10.1987'], shape=(11316,), dtype=object)

In [18]:
final_df = cleaner_df.drop_duplicates()
final_df.head()

,AgentInfo,Airline,ArrivalCity,ArrivalCode,BonusProgramm,BookingCode,CodeShare,DepartCity,DepartCode,DepartDate,DepartTime,FirstName,FlightNumber,LastName,PassengerBirthDate,PassengerSex,SecondName,TicketNumber,TravelDoc,TrvCls
0,NaN,Operated by Some Other Airline,NEW YORK NY,JFK,NaN,JLZQLT,NaN,TEL AVIV,TLV,07.01.2017,22:35,ESENIIA,DL469,NAUMOVA,NaN,Female,NaN,9463459928173654,NaN,Y
1,NaN,Operated by Some Other Airline,NEW YORK NY,JFK,KE 747187319,JLZQLT,LANDED,TEL AVIV,TLV,07.01.2017,22:35,ESENIIA,DL469,NAUMOVA,NaN,Female,NaN,9463459928173654,NaN,Y
2,NaN,Operated by Some Other Airline,MOSCOW,SVO,NaN,EROIHK,NaN,KRASNOYARSK,KJA,07.01.2017,09:05,MARAT,SU1485,KARASEV,NaN,Male,NaN,539561033784129,NaN,Y
5,NaN,Operated by Some Other Airline,MOSCOW,SVO,DT 564617485,EROIHK,LANDED,KRASNOYARSK,KJA,07.01.2017,09:05,MARAT,SU1485,KARASEV,NaN,Male,NaN,539561033784129,NaN,Y
6,NaN,Operated by Some Other Airline,MOSCOW,SVO,SU 750329070,EROIHK,LANDED,KRASNOYARSK,KJA,07.01.2017,09:05,MARAT,SU1485,KARASEV,NaN,Male,NaN,539561033784129,NaN,Y

In [19]:
final_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 2591120 entries, 0 to 3735656
Data columns (total 20 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   AgentInfo           143814 non-null   object
 1   Airline             1844126 non-null  object
 2   ArrivalCity         1999273 non-null  object
 3   ArrivalCode         2435969 non-null  object
 4   BonusProgramm       1899333 non-null  object
 5   BookingCode         2155030 non-null  object
 6   CodeShare           1620232 non-null  object
 7   DepartCity          1844126 non-null  object
 8   DepartCode          2435967 non-null  object
 9   DepartDate          2591120 non-null  object
 10  DepartTime          2155030 non-null  object
 11  FirstName           2591120 non-null  object
 12  FlightNumber        2591120 non-null  object
 13  LastName            2591120 non-null  object
 14  PassengerBirthDate  232850 non-null   object
 15  PassengerSex        1999273 non-null  object
 16  SecondName          677572 non-null   object
 17  TicketNumber        2155030 non-null  object
 18  TravelDoc           746994 non-null   object
 19  TrvCls              1999883 non-null  object
dtypes: object(20)
memory usage: 415.1+ MB

In [20]:
filtered = final_df[final_df['FirstName'].str.contains('DANILA', case=False, na=False)]
filtered = filtered[final_df['LastName'].str.contains('Zhuravlev', case=False, na=False)]

C:\Users\krist\AppData\Local\Temp\ipykernel_11348\1376144001.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = filtered[final_df['LastName'].str.contains('Zhuravlev', case=False, na=False)]

In [21]:
unique_rows = filtered.drop_duplicates()

In [22]:
unique_rows['SecondName'].unique()

array(['V', nan, 'M', 'A', 'MAKAREVICH', 'ARTEMICH'], dtype=object)

In [23]:
def standartize_ticket(ticket):
    if ticket == "NOTPRESENTED":
        return None
    return ticket

In [24]:
final_df[['TicketNumber']] = final_df[['TicketNumber']].map(standartize_ticket)

C:\Users\krist\AppData\Local\Temp\ipykernel_11348\1581723282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df[['TicketNumber']] = final_df[['TicketNumber']].map(standartize_ticket)

In [25]:
final_df['TicketNumber'].unique()

array([9463459928173654, 539561033784129, 2510504654591263, ...,
       '3225536132981250', '4876589026174330', '319698016488505'],
      shape=(845435,), dtype=object)

In [26]:
final_df[['FirstName', 'LastName', 'SecondName']][final_df['TicketNumber'] == 'NOTPRESENTED']

Empty DataFrame
Columns: [FirstName, LastName, SecondName]
Index: []

In [27]:
final_df[['FirstName', 'LastName', 'SecondName']][final_df['FirstName'] == 'DANILA'][final_df['LastName'] == 'ZHURAVLEV'][final_df['SecondName'].notnull()]

C:\Users\krist\AppData\Local\Temp\ipykernel_11348\1431287852.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  final_df[['FirstName', 'LastName', 'SecondName']][final_df['FirstName'] == 'DANILA'][final_df['LastName'] == 'ZHURAVLEV'][final_df['SecondName'].notnull()]
C:\Users\krist\AppData\Local\Temp\ipykernel_11348\1431287852.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  final_df[['FirstName', 'LastName', 'SecondName']][final_df['FirstName'] == 'DANILA'][final_df['LastName'] == 'ZHURAVLEV'][final_df['SecondName'].notnull()]

        FirstName   LastName  SecondName
22029      DANILA  ZHURAVLEV           V
22047      DANILA  ZHURAVLEV           V
22048      DANILA  ZHURAVLEV           V
22049      DANILA  ZHURAVLEV           V
22050      DANILA  ZHURAVLEV           V
22051      DANILA  ZHURAVLEV           V
22052      DANILA  ZHURAVLEV           V
22053      DANILA  ZHURAVLEV           V
22054      DANILA  ZHURAVLEV           V
22055      DANILA  ZHURAVLEV           V
22056      DANILA  ZHURAVLEV           V
22057      DANILA  ZHURAVLEV           V
22058      DANILA  ZHURAVLEV           V
22059      DANILA  ZHURAVLEV           V
22060      DANILA  ZHURAVLEV           V
22061      DANILA  ZHURAVLEV           V
22062      DANILA  ZHURAVLEV           V
22063      DANILA  ZHURAVLEV           V
22064      DANILA  ZHURAVLEV           V
22065      DANILA  ZHURAVLEV           V
22066      DANILA  ZHURAVLEV           V
22067      DANILA  ZHURAVLEV           V
22068      DANILA  ZHURAVLEV           V
22069      DANILA  ZHURAVLEV           V
22070      DANILA  ZHURAVLEV           V
22071      DANILA  ZHURAVLEV           V
22072      DANILA  ZHURAVLEV           V
22073      DANILA  ZHURAVLEV           V
22074      DANILA  ZHURAVLEV           V
22075      DANILA  ZHURAVLEV           V
2149040    DANILA  ZHURAVLEV           M
2149041    DANILA  ZHURAVLEV           M
2887503    DANILA  ZHURAVLEV           A
2887504    DANILA  ZHURAVLEV           A
3096031    DANILA  ZHURAVLEV  MAKAREVICH
3096032    DANILA  ZHURAVLEV  MAKAREVICH
3331141    DANILA  ZHURAVLEV    ARTEMICH
3331142    DANILA  ZHURAVLEV    ARTEMICH

In [28]:
final_df = final_df.drop_duplicates()
final_df.head()

,AgentInfo,Airline,ArrivalCity,ArrivalCode,BonusProgramm,BookingCode,CodeShare,DepartCity,DepartCode,DepartDate,DepartTime,FirstName,FlightNumber,LastName,PassengerBirthDate,PassengerSex,SecondName,TicketNumber,TravelDoc,TrvCls
0,NaN,Operated by Some Other Airline,NEW YORK NY,JFK,NaN,JLZQLT,NaN,TEL AVIV,TLV,07.01.2017,22:35,ESENIIA,DL469,NAUMOVA,NaN,Female,NaN,9463459928173654,NaN,Y
1,NaN,Operated by Some Other Airline,NEW YORK NY,JFK,KE 747187319,JLZQLT,LANDED,TEL AVIV,TLV,07.01.2017,22:35,ESENIIA,DL469,NAUMOVA,NaN,Female,NaN,9463459928173654,NaN,Y
2,NaN,Operated by Some Other Airline,MOSCOW,SVO,NaN,EROIHK,NaN,KRASNOYARSK,KJA,07.01.2017,09:05,MARAT,SU1485,KARASEV,NaN,Male,NaN,539561033784129,NaN,Y
5,NaN,Operated by Some Other Airline,MOSCOW,SVO,DT 564617485,EROIHK,LANDED,KRASNOYARSK,KJA,07.01.2017,09:05,MARAT,SU1485,KARASEV,NaN,Male,NaN,539561033784129,NaN,Y
6,NaN,Operated by Some Other Airline,MOSCOW,SVO,SU 750329070,EROIHK,LANDED,KRASNOYARSK,KJA,07.01.2017,09:05,MARAT,SU1485,KARASEV,NaN,Male,NaN,539561033784129,NaN,Y

In [29]:
final_df = (
    final_df.groupby(['TicketNumber', 'FirstName', 'LastName'], as_index=False)
      .agg(lambda x: next((i for i in x if pd.notna(i)), None))
)

In [30]:
final_df.to_csv("cleaned_sources.csv", sep = ';', index = False)

1. Убрать дупликаты
2. Привести к одному формату
  - Имена
  - Фамилии
  - Даты
  - Города